aiohappyeyeballs 
aiohttp 
aiosignal 
alembic 
annotated-doc 
annotated-types 
anyio 
appnope==0.1.4
asttokens==3.0.1
attrs 
backports.zstd 
bcrypt 
blinker 
Brotli 
cachetools 
certifi 
cffi==2.0.0
charset-normalizer 
click 
cloudpickle 
colorlog==6.10.1
comm==0.2.3
contourpy 
cryptography 
cycler 
databricks-sdk 
debugpy==1.8.20
decorator==5.2.1
Deprecated 
dnspython 
docker 
email-validator 
exceptiongroup 
executing==2.2.1
fastapi==0.133.0
fastapi-cli 
filelock==3.29.0
Flask 
flask-cors 
fonttools 
frozenlist 
fsspec==2026.3.0
gitdb 
GitPython 
google-auth 
gradio==6.14.0
gradio_client==2.5.0
graphene 
graphql-core 
graphql-relay 
greenlet 
groovy==0.1.2
gunicorn 
h11 
h2 
hf-gradio==0.4.1
hf-xet==1.4.3
hpack 
httpcore 
httptools 
httpx 
huey 
huggingface_hub==1.11.0
hyperframe 
idna 
importlib_metadata==8.7.1
iniconfig==2.3.0
invoke 
ipykernel==7.2.0
ipython==9.10.0
ipython_pygments_lexers==1.1.1
itsdangerous 
jedi==0.19.2
Jinja2 
joblib 
jupyter_client==8.8.0
jupyter_core==5.9.1
kiwisolver 
Mako 
markdown-it-py 
MarkupSafe 
matplotlib==3.10.8
matplotlib-inline==0.2.1
mdurl 
mlflow 
mlflow-skinny 
mlflow-tracing==3.10.0
multidict 
munkres==1.1.4
nest-asyncio==1.6.0
numpy 
opentelemetry-api 
opentelemetry-proto 
opentelemetry-sdk 
opentelemetry-semantic-conventions 
optuna==4.7.0
orjson==3.11.8
packaging 
pandas 
paramiko 
parso==0.8.6
pexpect==4.9.0
pillow==12.1.1
platformdirs==4.9.2
pluggy==1.6.0
prettytable 
prometheus_client 
prometheus_flask_exporter 
prompt_toolkit==3.0.52
propcache 
protobuf==6.33.5
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow
pyasn1 
pyasn1_modules 
pycparser==3.0
pydantic 
pydantic-extra-types 
pydantic-settings 
pydantic_core 
pydub==0.25.1
Pygments 
PyNaCl 
pyOpenSSL 
pyparsing 
PySocks 
pytest==9.0.3
python-dateutil 
python-dotenv 
python-multipart 
pytz
pyu2f 
PyYAML 
pyzmq==27.1.0
querystring_parser 
requests
rich 
rich-toolkit 
rsa 
safehttpx==0.1.7
scikit-learn 
scipy==1.17.1
seaborn==0.13.2
semantic-version==2.10.0
shellingham
six 
skops 
slicer==0.0.7
smmap 
sniffio 
SQLAlchemy
sqlparse 
stack-data==0.6.3
starlette 
threadpoolctl 
tomli 
tomlkit==0.14.0
tornado==6.5.4
tqdm==4.67.3
traitlets==5.14.3
typer==0.24.0
typing-inspection 
typing_extensions 
tzdata 
urllib3 
uvicorn 
uvloop 
watchfiles 
wcwidth 
websocket-client 
websockets 
Werkzeug 
wrapt 
xgboost 
yarl 
zipp 
